@font-face {
  font-family: "Calculator";
  src: url(/fonts/Calculator.ttf);
}

@font-face {
  font-family: "PocketCalculator";
  src: url(/fonts/pocket_calcuatlor_ot.otf);
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  display: flex;
  width: 35rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: #79838d;
  border-radius: 1.4rem;
  padding: 2rem;
}
.display {
  background-color: #6d9492;
  color: black;
  min-height: 8rem;
  font-size: 6.5rem;
  font-family: PocketCalculator;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.keyboard-container {
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.7rem;
}

.keyboard-container > button {
  font-weight: 500;
  font-size: 3rem;
  border-radius: 1rem;
  border: none;
}

.js-clear-all-button,
.js-delete-button {
  background-color: red;
  color: white;
}

.js-number-button,
.js-point-button,
.js-equals-button {
  background-color: rgb(85, 82, 82);
  color: white;
}

.js-operator-button,
.js-change-sign-button {
  background-color: black;
  color: white;
}

.plus-button {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 4;
}
